<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6e70a584-a671-4f07-a398-2725fe3fc7c6/resourceGroups/bookclubapp/providers/Microsoft.Web/sites/bookclubapp</ResourceId>
    <ResourceGroup>bookclubapp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bookclubapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bookclubapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bookclubapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bookclubapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookClubAppContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:bookclubapp.database.windows.net,1433;Initial Catalog=bookclubapp;User ID=suzjones@bookclubapp.database.windows.net;Password=Newstart18!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BookClubAppProject.DAL.BookClubAppContext, BookClubAppProject" MigrationConfiguration="BookClubAppProject.Migrations.Configuration, BookClubAppProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BookClubAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bookclubapp.database.windows.net,1433;Initial Catalog=bookclubapp;User ID=suzjones@bookclubapp.database.windows.net;Password=Newstart18!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>